/.gradle/
build/
g=out/
gen/

gradlew
gradlew.bat

/data/backup
/data/cache
/data/rsa
/data/saves
/data/Xteas.json

error.log
modulus

first-launch
first-launch-example
/game.yml
/dev-settings.yml
dump.hprof
/.kotlin/
